
@if (m_showPopUp)
{
	<div class="modal-backdrop show"></div>
	<div class="modal fade show" style="display:block" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal Title</h5>
					<button type="button" @onclick="Hide" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>"@BodyContent"</p>
				</div>
				<div class="modal-footer">
					<button type="button" @onclick="Hide" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" @onclick="Confirm" class="btn btn-danger">Confirm</button>
				</div>
			</div>
		</div>
	</div>
}