@page "/"

<h1>Index</h1>
<br />
<ContactList @ref="m_contactList" Contacts="m_contacts"></ContactList>
@if (m_contactList is not null && m_contacts?.Count > 0)
{
	<br />
	<button @onclick="@ToggleContacts">Show/Hide Contacts</button>
}

<br />
<br />
<a href="./PageDirective">Page Directive</a>
<br />
<br />
<button @onclick="@Navigate">Navigate</button>